.mask {background: linear-gradient(
                      45deg,
                      rgba(29, 236, 197, 0.5),
                      rgba(91, 14, 214, 0.5) 100%
                    );
}

.bg-image{
  cursor: pointer;
}

.buttons{
  margin-left: 42vw ;
  margin-bottom: 5vw ;
}